# --extra-index-url https://download.pytorch.org/whl/cu118
awscli
alembic
click
dcmrtstruct2nii
git+https://github.com/Dutta-SD/nnunet_draw.git@draw_main
nibabel
numpy
pandas
pydicom
PyYAML
retry
rt-utils
schema=
simpleitk
sqlalchemy
# Download as per GPU and latest CUDA
# torch==2.1.0
# torchaudio==2.1.0
# torchvision==0.16.0
# watchdog==3.0.0
torch
torchaudio
torchvision
watchdog
